<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Spotify_v3 -->
      <package
            uri="https://it.univaq.disim.mde.course.project5/MSS"
            class="MusicStreamingService.MusicStreamingServicePackage"
            genModel="model/Spotify_v3.genmodel"/>
   </extension>

</plugin>
